
body {
    // https://heropatterns.com/ 
    background-color: $background;
    background-image: radial-gradient($background-light 0%, $background 100%);
    background-attachment: fixed;
}
.inverted-colours {
    color: $foreground-reversed;
}
.content {
    &--reversed {
        color: $foreground-reversed;
    }
}
.documentation {
    &__content {
        blockquote {
            border-left: 0;
            background-color: rgba($background-light, .05);
            position:relative;
            &:before {
                content: "«";
                color: rgba($background-light, .8);
                font-size: 4em;
                line-height: 1;
                left: 0;
                position: absolute;
                top: -.5em;
                left: -.45em;
            }
          }
    }
}