@charset "utf-8";

@import "normalize";

*, *:before, *:after {
  box-sizing: border-box;
}

$background: #710234;
$background-light: #9c0247; 
$foreground: white;
$foreground-reversed: black;
$link-color: #007CBC;

@import "base";
@import "layout";
@import "header";
@import "index";
@import "docs";
@import "themes";
@import "search";
@import "perso";

//@import url("syntax-theme-dark.css") (prefers-color-scheme: dark);
//@import url("syntax-theme-light.css") (prefers-color-scheme: light);
