{% macro toc(page) %}
{% if page.toc %}
    <ul>
    {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
            {% if h1.children %}
                <ul>
                    {% for h2 in h1.children %}
                        <li>
                            <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endif %}
{% endmacro %}


{% macro chapters(page) %}
    {% set subsection = get_section(path=page.ancestors | last) %}
    <ul>
        {% for page in subsection.pages %}
            {% if page.slug != 'introduction' %}
            <li class="{% if current_path == page.path %}active{% endif %}">
                <a href="{{page.permalink}}">{{page.title}}</a>
                {%- if page.description %}
                • {{ page.description }}
                {%- endif -%}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}