{% extends "base.html" %}
{% block title %}404 | {{ super() }} {% endblock title %}
{% block content %}


<div class="inverted-colours selling-points">
    <div class="selling-points__content container">
        <div class="selling-point">
            <h2>404 Not Found</h2>
            <p>C’est certainement une vieille page qui a finie dans la cheminée…</p>
            <p>Ou un conflit Git qui a mal tourné</p>
            <p>Ou un rendez-vous manqué</p>
        </div>
</div>

{% endblock content %}
