{%- import "macros/macros.html" as macros -%}
<!DOCTYPE html>
<html lang="fr-FR">
    <head>
        <meta charset="UTF-8">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{% block description %}{{ config.description }}{% endblock description %}">
        <meta name="author" content="{{ config.extra.author }}">
        <title>{% block title %}{{ config.title }}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ get_url(path="site.css") }}"/>
        <link rel="icon" href="{{ get_url(path="favicon.png") }}">
    </head>
    <body>

        <header>
            <nav class="{% block extra_nav_class %}container{% endblock extra_nav_class %}">
                <a class="header__logo white" href="{{ config.base_url }}">MDB</a>
                <a class="white" href="{{ get_url(path="@/documentation/_index.md") }}" class="nav-link">Docs</a>
                <a class="white" href="https://gitlab.com/magraine/magraine.gitlab.io" class="nav-link">Gitlab</a>

                <div class="search-container">
                    <input id="search" type="search" placeholder="🔎 Rechercher">

                    <div class="search-results">
                        <div class="search-results__items"></div>
                    </div>
                </div>
            </nav>
        </header>

        <div class="content {% block extra_content_class %}{% endblock extra_content_class %}">
            {% block content %}{% endblock content %}
        </div>
        <footer>
            {% set year = now() | date(format="%Y") %}
            ©{{ config.extra.first_year }}
            {%- if year != config.extra.first_year %}
             -{{ now() | date(format="%Y") }} 
            {%- endif %}
            — {{ config.extra.author }} 
            — Façonné 🤍 avec <a class="white" href="https://www.getzola.org/">Zola</a>
        </footer>
        {% if config.build_search_index %}
        <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") }}"></script>
            {%- if config.default_language and config.default_language != "en" -%}
                {%- set search_index_file = "search_index." ~ config.default_language ~ ".js" %}
                {%- set lunr_lang_file = "js/lunr/lunr." ~ config.default_language ~ ".min.js" -%}
                <script defer src="{{ get_url(path='js/lunr/lunr.stemmer.support.min.js') }}"></script>
                <script defer src="{{ get_url(path=lunr_lang_file) }}"></script>
                <script defer src="{{ get_url(path=search_index_file) }}"></script>
            {%- else -%}
                <script defer src="{{ get_url(path='search_index.en.js') }}"></script>
            {%- endif -%}
            <script type="text/javascript" src="{{ get_url(path="js/search.js") }}"></script>
        {% endif %}
    </body>
</html>
