{% extends "base.html" %}

{% block extra_nav_class %}{% endblock extra_nav_class %}
{% block extra_content_class %}content--reversed{% endblock extra_content_class %}

{% block content %}
{% set section = get_section(path="documentation/_index.md") %}
<div class="documentation">
    <aside class="documentation__sidebar">
        <ul>
        {% for p in section.subsections %}
            {% set subsection = get_section(path=p) %}
            <li>
                <span class="documentation__sidebar__title">{{ subsection.title }}</span>
                <ul>
                    {% for page in subsection.pages %}
                        <li class="{% if current_path == page.path %}active{% endif %}">
                            <a href="{{page.permalink}}">{{page.title}}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
        </ul>
    </aside>
    <div class="documentation__content">
        {% block doc_content %}
        {% endblock doc_content %}
    </div>
</div>
{% endblock content %}
