{% extends "base.html" %}

{% block content %}
<div class="hero">
    <h1>{{ config.description }}</h1>
    <p class="hero__tagline">
        Pour penser à faire régulièrement le ménage dans le code poussiéreux…
    </p>
    <a href="{{ get_url(path="@/documentation/_index.md") }}" class="button">Documentation</a>
</div>

<div class="inverted-colours selling-points">
    <div class="selling-points__content container">
        <div class="selling-point">
            <h2>Coding Style</h2>
            <p>
                Pour se rappeler des types des conventional commits et autres règles compliquées…
            </p>
        </div>

        <div class="selling-point">
            <h2>Markdown</h2>
            <p>
                Ici on écrit en markdown, parce que c’est partout comme ça… 
                Mais y a quand même des modèles, appelés 
                <a href="https://www.getzola.org/documentation/content/shortcodes/" target="_blank" rel="noopener noreferrer">Shortcodes</a>
            </p>
        </div>

        <div class="selling-point">
            <h2>C’est en Rust</h2>
            <p>
                Parce que Rust, c’est topito.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
