{% extends "documentation.html" %}

{% block title %}{{ page.title }} | {{ super() }} {% endblock title %}
{% block doc_content %}
    <h1>{{page.title}}</h1>
    {{ page.content | safe }}

    <h2>Sommaire</h2>
    {{ macros::chapters(page=page) }}
{% endblock doc_content %}
